<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="/static/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <title>ClozureDB: Database Design Tool</title>
  </head>
  <body>
    <div id="navbar-container" class="navbar-container">
      <div id="navbar" class="navbar">
        <div id="site-header" class="site-header">
          <h1>ClozureDB<sup>+</sup></h1>
          <p>Relational Database Design Tool</p>
        </div>
        <div id="home-link-container" class="nav-link-container">
          <a href="/" id="home-link" class="nav-link">Home</a>
        </div>
        <div id="about-link-container" class="nav-link-container">
          <a href="/about" id="about-link" class="nav-link">About</a>
        </div>
        <div id="github-link-container" class="nav-link-container">
          <a href="https://github.com/FinleyMcIlwaine/ClozureDB" id="github-link" class="nav-link" target="_blank"><strong>Github</strong></a>
        </div>
      </div>
    </div>
    <div id="main">
      <div id="About Me" class="info">
        <h2>
          How does this work?
        </h2>
        <p>
          Simply input your relation schema and any given functional dependencies (in the correct format), press submit, and voila!
          ClozureDB will calculate as much useful information as it can and output it below.
        </p>
        <h2>
          What information will ClozureDB give me?
        </h2>
        <p>
          As of right now, ClozureDB is focused primarily on calculating the closures, keys, and superkeys of your schema.
          In the future (hopefully), it will provide much more information such as your schema's normal form!
        </p>
      
      </div>
  </body>
</html>