<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="/static/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <title>ClozureDB: Database Design Tool</title>
  </head>
  <body>
    <div id="navbar" class="navbar">
      <ul id="nav-ul">
        <li id="nav-li" class="title-area">
          <h1 id="title">
            ClozureDB<sup>+</sup>
          </h1>
          <div id="title-cap">
            Relational Database Design Tool
          </div>
        </li>
        <li id="nav-li">
          <a href="/" id="home-link" class="nav-link">Home</a>
        </li>
        <li id="nav-li">
          <a href="about" id="about-link" class="nav-link">About</a>
        </li>
        <li id="nav-li" style="float: right; margin-top: 18px">
          <a href="https://github.com/FinleyMcIlwaine/ClozureDB" id="github-link" class="nav-link" target="_blank">Github</a>
        </li>
      </ul>
      </ul>
    </div>
    <div id="main">
      <div id="info">
        <h2>
          How does this work?
        </h2>
        <p>
          Just input your relation schema and any given functional dependencies and hit submit! ClozureDB<sup>+</sup>
          will calculate and display as much useful information about your schema as it can.
        </p>
        <h2>
          What information will ClozureDB<sup>+</sup> give me?
        </h2>
        <p>
          ClozureDB<sup>+</sup> is in a heavy development phase. Currently, I am working on parsing and validating
          input. Once that is complete, the first feature to be implemented will be the calculation of attribute
          closures and keys/superkeys. Check out the
          <a href="https://github.com/FinleyMcIlwaine/ClozureDB" style="text-decoration: none;">Github</a>
          and reach out if you are interested in contributing!
        </p>
      </div>
      <form id="input-form" novalidate>
        <div id="input">
          <div id="input-tip">
            <div class="tooltip">
              Formatting Info
              <span class="tooltiptext">
                <strong>Relation format:</strong><br>
                TITLE(A,B,C,D,...,Z)<br>
                <strong>FD format:</strong><br>
                A->B ; C->A,B ; A,D->C<br><br>
                Relation title is optional.<br>
                Input is case insensitive and spaces are ignored.<br>
                Input must not contain numbers.
              </span>
            </div>
          </div>
          <label id="label-1" for="relation-input" style="grid-area: label-1;">Relation Schema:</label>
          <input type="text" id="input-1" name="relation-input" placeholder="R(A,B,C,D,...)" autofocus style="grid-area: input-1;">
          <p class="format-error" id="relation-error" style="grid-area: format-1"></p>
          <label id="label-2" for="dependency-input" style="grid-area: label-2;">Functional Dependencies:</label>
          <input type="text" id="input-2" name="dependency-input" placeholder="A->B,C ; B,D->C ; ..." style="grid-area: input-2;">
          <p class="format-error" id="dependency-error" style="grid-area: format-2"></p>
          <button type="button" id="submit">Submit</button>
        </div>
      </form>
      <div id="info" style="margin-top: 50px;">
        <h2>Attribute Closures</h2>
        <p>
          In the output area below, ClozureDB will list the closures of all elements
          in the powerset of your schema's attributes. Keys and superkeys will be
          denoted somehow...
        </p>
      </div>
    </div>
    <script src="/static/javascripts/validateInputFormat.js"></script>
  </body>
</html>