<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="/static/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <title>ClozureDB: Database Design Tool</title>
  </head>
  <body>
    <div id="navbar-container" class="navbar-container">
      <div id="navbar" class="navbar">
        <div id="site-header" class="site-header">
          <h1>ClozureDB<sup>+</sup></h1>
          <p>Relational Database Design Tool</p>
        </div>
        <div id="home-link-container" class="nav-link-container">
          <a href="/" id="home-link" class="nav-link">Home</a>
        </div>
        <div id="about-link-container" class="nav-link-container">
          <a href="/about" id="about-link" class="nav-link">About</a>
        </div>
        <div id="github-link-container" class="nav-link-container">
          <a href="https://github.com/FinleyMcIlwaine/ClozureDB" id="github-link" class="nav-link" target="_blank"><strong>Github</strong></a>
        </div>
      </div>
    </div>
    <div id="main">
      <div id="how-does-this-work" class="info">
        <h2>
          How does this work?
        </h2>
        <p>
          Just input your relation schema and any given functional dependencies and hit submit! ClozureDB<sup>+</sup>
          will calculate and display as much useful information about your schema as it can.
        </p>
      </div>
      <div id="what-information" class="info">
        <h2>
          What information will ClozureDB<sup>+</sup> give me?
        </h2>
        <p>
          ClozureDB<sup>+</sup> is in a heavy development phase. Currently, I am working on calculating the minimal cover
          cover set of functional dependencies. Check out the
          <a href="https://github.com/FinleyMcIlwaine/ClozureDB" style="text-decoration: none;">Github</a>
          and reach out if you are interested in contributing!
        </p>
      </div>
      <div id="input-section-header" class="section-header">
        <h2>
          Input your schema:
        </h2>
      </div>
      <form id="input-form" class="form" novalidate>
        <div id="relation-input-area" class="input-area">
          <label id="relation-label" class="input-label" for="relation-input">Relation Schema:</label>
          <div id="relation-input-container" class="input-container">
            <div class="tooltip-container">
              <div class="tooltip">
                Formatting Info
                <span class="tooltiptext">
                  <strong>Relation format:</strong><br>
                  TITLE(A,B,C,D,...,Z)<br>
                  <strong>FD format:</strong><br>
                  A->B ; C->A,B ; A,D->C<br><br>
                  Relation title is optional.<br>
                  Input is case insensitive and spaces are ignored.<br>
                  Input must not contain numbers.
                </span>
              </div>
            </div>
            <input type="text" id="relation-input" class="input" name="relation-input" placeholder="R(A,B,C,D,...)" autofocus>
          </div>
        </div>
        <div class="error-container">
          <p class="format-error" id="relation-error"></p>
        </div>
        <div id="dependency-input-area" class="input-area">
          <label id="dependency-label" class="input-label" for="dependency-input">Functional Dependencies:</label>
          <div id="dependency-input-container" class="input-container">
            <input type="text" id="dependency-input" class="input" name="dependency-input" placeholder="A->B,C ; C,D->A ; ..." autofocus>
          </div>
        </div>
        <div class="error-container">
          <p class="format-error" id="dependency-error"></p>
        </div>
        <button type="button" id="submit" class="submit-btn">Submit</button>
      </form>
      <div id="closures-section-header" class="section-header">
        <h2>
          Attribute set closures, keys, and prime attributes:
        </h2>
      </div>
      <div id="closures-output-area" class="output-area">
        <div id="closures-section" class="output-section">
          <p>
            Closures of each element in the powerset of attributes:
          </p>
          <textarea id="closures-output" name="closures-output" rows="20" readonly
          placeholder="The closures of each element in the powerset of attributes will be output here."></textarea>
        </div>
        <div id="closures-section" class="output-section">
          <p>
            Minimum keys, superkeys, and prime attributes:
          </p>
          <textarea id="keys-output" name="keys-output" rows="20" readonly
          placeholder="Minimum keys, superkeys, and prime attributes of the relation will be output here."></textarea>
        </div>
      </div>
      <div id="minimum-cover-section-header" class="section-header">
        <h2>
          Attribute set closures, keys, and prime attributes:
        </h2>
      </div>
    </div>
    <script src="/static/javascripts/validateInputFormat.js"></script>
    <script src="/static/javascripts/parseInput.js"></script>
    <script src="/static/javascripts/generateOutput.js"></script>
    <script src="/static/javascripts/generateClosuresAndKeys.js"></script>
    <script src="/static/javascripts/displayClosuresAndKeys.js"></script>
    <script src="/static/javascripts/generateMinimumCoverSet.js"></script>
    <script src="/static/javascripts/displayMinimumCoverSet.js"></script>
  </body>
</html>