html,body{
  font-family: 'Roboto Slab', serif;
  color: #f2f1e7;
  min-width: 260px;
  background-color: #39404E;
  margin: 0px;
}
.navbar-container{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2C2828;
  display: flex;
  justify-content: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
  width: 70%;
  min-width: 570px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #2C2828;
  align-items: center;
}
.site-header{
  padding-bottom: 5px;
  padding-top: 0px;
}
.site-header h1{
  text-shadow: 2px 2px 5px black;
  font-size: 25px;
  margin: 0px;
}
.site-header p{
  text-shadow: 2px 2px 5px black;
  margin: 0px;
  white-space: nowrap;
}
.nav-link-container{
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: auto;
}
#home-link-container{
  margin-left: 12%;
}
.nav-link{
  margin: auto;
  color: #f2f1e7;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: text-shadow 0.15s;
  transition: text-shadow 0.15s;
}
.nav-link:hover{
  text-shadow: 0px 0px 8px white;
}
#main{
  margin: auto;
  margin-top: 62px; /*position below nav*/
  padding-top: 10px;
  max-width: 70%;
  min-width: 570px;
  color: #2C2828;
  background-color: #EEE9E1;
  box-shadow: 0px 3px 20px black;
}
.info{
  margin: auto;
  max-width: 85%;
}
.info h2{
  font-weight: bold;
  margin-bottom: 10px;
}
.form{
  max-width: 85%;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  background: #7C4D4A;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #EEE9E1;
  border-radius: 2px;
  box-shadow: 1px 1px 10px black;
}
.input-area{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.input-label{
  font-size: 20px;
  white-space: nowrap;
  align-self: flex-start;
  margin-right: 5%
}
#relation-label{
  padding-top: 27px;
}
#dependency-input-area{
  margin-top: 20px;
}
#dependency-label{
  padding-top: 5px;
}
.input-container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 50%;
  margin-right: 5%;
}
.tooltip-container{
  padding-bottom: 0px;
  color: rgba(238, 233, 225, 0.616);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgba(238, 233, 225, 0.384);
  font-size: 13px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(44, 40, 40);
  color: rgba(238, 233, 225, 0.514);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  width: 350px;
  bottom: 125%;
  left: 50%; 
  margin-left: -175px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.8s;
  font-size: 13px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltiptext{
  box-shadow: 0px 0px 20px black;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2C2828 transparent transparent transparent;
}
.input{
  margin-right: 5%;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
}
input[type="text"]{
  text-align: center;
  background-color: #F1EDE6;
}
.error-container{
  height: 30px;
  width: 100%;
}
.format-error {
  color: rgb(255, 0, 0);
  text-shadow: 0px 1px 10px rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  margin-right: 5%;
  text-align: right;
}
#submit{
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  text-shadow: 0px 1px 4px black;
  box-shadow: 0px 0px 6px black;
  color: #EEE9E1;
  border: 0;
  border-radius: 5px;
  grid-area: submit;
  justify-self: center;
  align-self: center;
  width: 100px;
  height: 40px;
  background: rgb(42, 182, 221);
  -webkit-transition: text-shadow 0.03s, box-shadow 0.03s, width 0.03s, height 0.03s;
  transition: text-shadow 0.03s, box-shadow 0.03s, width 0.03s, height 0.03s;
  margin-bottom: 10px;
  margin-top: 20px;
}
#submit:hover{
  text-shadow: 0px 1px 3px white;
  box-shadow:  0px 0px 15px black;
  width: 101px;
  height: 40px;
  cursor: pointer;
}
#submit:active{
  text-shadow: 0px 1px 4px black;
  box-shadow: 0px 1px 5px black;
  width: 100px;
  height: 40px;
}
#submit:focus{
  outline: 0;
}
@media (min-width: 1200px) {
  /*
      CORRECT INPUT BOX MARGINS
  */
  .format-error{
    margin-right: 10%;
  }
  .input-container{
    margin-right: 10%;
  }
}
@media (max-width: 1100px) {
  /*
      PUT LABELS ON TOP OF INPUT BOXES
  */
  .input-area{
    flex-direction: column;
  }
  .input-container{
    width: 90%;
    margin: 0;
    margin: auto;
  }
  .input-label{
    margin-left: 5%;
    padding-bottom: 3px;
  }
  #relation-label{
    padding: 0px;
    margin-bottom: -17px;
  }
  .tooltip{
    font-size: 10px;
  }
  .format-error{
    text-align: center;
    margin-right: 0;
  }
}
@media (max-width: 580px) {
  /*
      BEGIN LARGE TABLET DISPLAY
  */
  #main{
    padding-top: 40px;
    width: 100%;
    max-width: initial;
    min-width: initial;
  }
  .navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 0;
    background-color: #2C2828;
    align-items: center;
    padding: 8px;
  }
  #home-link-container{
    margin: 0;
  }
  .site-header{
    justify-content: center;
    width: 100%;
  }
  .site-header h1{
    display: flex;
    justify-content: center;
  }
  .site-header p{
    display: flex;
    justify-content: center;
  }
  .nav-link-container{
    margin: 0;
  }
  #github-link-container{
    margin: 0;
  }
}