/*
Color pallete (increasing brightness):
5c4d4d
915b4a
a96851
f2f1e7
*/
html,body{
  font-family: 'Roboto Slab', serif;
  color: #f2f1e7;
  min-width: 260px;
  background-color: #39404E;
  margin: 0px;
}
#title{
  margin: 0;
  text-shadow: 2px 2px 5px black;
  text-align: left;
}
.nav-link{
  font-family: 'Roboto Slab', serif;
  color: #f2f1e7;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: font-size 0.05s;
  transition: font-size 0.05s;
}
.nav-link:hover{
  text-shadow: 2px 2px 4px white;
  font-size: 21px;
}
.nav-link:active{
  text-shadow: none;
}
#nav-ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #2C2828;
  vertical-align: middle;
  position: fixed;
  top: 0;
  width: 100%;
  height: 83px;
}
#nav-li{
  display: inline-block;
  margin: 0px;
  min-width: 10%;
  padding: 10px;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
}
#home-link{
  margin-left: 20%;
}
#main{
  margin: auto;
  margin-top: 83px;
  max-width: 60%;
  color: #2C2828;
  background-color: #EEE9E1;
  padding: 20px;
  box-shadow: 3px 3px 10px black;
}
#info{
  margin: auto;
  max-width: 85%;
}
#info h2{
  font-weight: bold;
  margin-bottom: 10px;
}
#input{
  max-width: 45%;
  margin: auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50px 50px 50px 50px;
  grid-template-areas: 
  "label-1 input-1"
  ".      format-1"
  "label-2 input-2"
  ".      format-2";
  grid-column-gap: 15px;
  background: #7C4D4A;
  padding: 25px;
  color: #EEE9E1;
  border-radius: 2px;
  box-shadow: 1px 1px 10px black;
}
#label-1{
  font-size: 20px;
  grid-area: label-1;
  align-self: center;
  justify-self: right;
  white-space: nowrap;
}
#input-1{
  grid-area: input-1;
  align-self: center;
  justify-self: center;
  width: 80%;
  height: 30px;
  border-radius: 3px;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}
input[type="text"]{
  text-align: center;
  background-color: #F1EDE6;
}